[2014-02-20 15:10] Makopo opened #1 "It doesn't work on Windows7"
I tested it with on Win7 32bit and I found it does't work now. On WinXP, it works. I have seen it worked fine on Win7 at least in October last year. I suspect it is nothing to do with cygwin64 or something, but recent windows update on Win7. I'll try to find what cause this problem as soon as possible.

@RayZopf found this issue and reported in bdd056a commit comment.

[2014-02-22 01:05] #1 closed, assigned to Makopo

[2014-07-03 09:08] winny- opened #2 "Makefile requires editing and GCC to compile on Mavericks"
Hi! Wanted to document how to compile on Mavericks.
1. Install Homebrew
2. Install gcc
3. Edit the Makefile so it looks something like this diff

[code]
4. Optionally run the following commands to install into Homebrew

[code]

[2014-07-07 15:10] #2 closed, assigned to nobody

[2017-01-24 23:07] buildersbrewery opened #3 "win x64 executable"
@Makopo Maybe you could merge @XenHat 's changes from [`Ociidii-Works/lslint`](https://github.com/Ociidii-Works/lslint) into your repo so there's a win x64 executable available here, too?

[2017-01-24 23:08] XenHat commented on #3
Oh lord, my commit history is pretty messy, that'd be embarrassing. 😨

[2017-01-24 23:18] buildersbrewery commented on #3
Just a suggestion from my side, whatever works...

[2017-01-24 23:19] XenHat commented on #3
Oh, I don't mind. I'm just worried that @Makopo might not like the intrusive changes.

[2017-01-25 00:51] XenHat commented on #3
There, I re-implemented the fixes in a less intrusive way.

[2017-01-25 10:07] Makopo commented on #3
@XenHat I appreciate your pull request, since I believe who developed original a long ago was you.

[2017-01-25 10:09] XenHat commented on #3
I'm 99.999% confident I am not the original author of lslint. I will create a pull request nonetheless.

[2017-01-25 10:15] Makopo commented on #3
Oh, I see. I guessed from your name that you were from w-hat. Anyway I am not good about engine coding so I'll appreciate your request 👍 Since I am away for Tokyo tomorrow so I'll look at pull request this weekend.

[2017-01-25 10:29] buildersbrewery commented on #3
旅行楽しんで下さい。

[2017-01-28 03:13] Makopo commented on #3
merged.

[2017-01-28 03:13] #3 closed

[2017-02-07 13:12] buildersbrewery opened #5 "Unrecognized constants"
[code]

tested with Makopo/lslint@68879c8.

/cc @XenHat

[2017-02-07 13:16] Makopo commented on #5
Since  there is no such entry in kwdb database.
You might want to request this to them if you consider this as a issue.

[2017-02-07 13:16] #5 closed

[2017-02-07 13:18] buildersbrewery commented on #5
@Sei-Lisa

[2017-03-06 05:29] XenHat opened #6 "Global variables initialized with negative values throws an error"
Take the following code sample:
[code]
This code sample will produce the following errors:
[code]
I have reproduced on all 3 windows binaries (windows, windows32, windows64).

**I do not believe this error to be justified as the in-world compiler produces working code without complaint.**

I attempted to suppress `E_GLOBAL_INITIALIZER_NOT_CONSTANT` myself, but I end up with `unexpected '-'` which

[2017-03-18 13:42] Sei-Lisa commented on #5
Fixed in kwdb. For some reason I'm not receiving emails, I'll look into that. But thanks for the heads-up.

[2017-04-09 16:31] Sei-Lisa commented on #6
Sorry, my fix for the sign issues was bogus, as it introduced this problem. A temporary solution until I find how to fix it for good, is this:

[code]

[2017-04-09 17:49] Sei-Lisa commented on #6
This is a hackish solution that increases the number of conflicts, but it works as expected:

[code]

Before the patch:

[code]

After the patch:

[code]

[2017-04-09 21:20] Sei-Lisa opened #7 "Add Mono mode"
This script runs fine in Mono but works wrong in LSO due to a gotcha:

[code]

Under Mono it displays:
[code]

Under LSO it displays:

[code]

lslint catches and reports it:

[code]

However, as demonstrated above, that warning only applies to LSO. I think that lslint needs a Mono mode in order to skip that warning, possibly more.

[2017-04-10 12:31] Makopo commented on #6
Thank you for reporting @XenHat and suggesting fixes @Sei-Lisa .
I created the branch fixing#6 and put the binaries into it.
Please try ahead, thanks.

[2017-04-10 12:38] Makopo commented on #7
Thank you for reporting, @Sei-Lisa ! I confirmed the issue. Any solution will be appreciated.

[2017-04-10 14:52] Sei-Lisa commented on #6
Short version: Please put back these lines in the patch:

[code]

Long version:

The first patch was a temporary solution that removed the error, because bison for some reason preferred to take the `expression` branch whenever a minus sign was present.

The second patch totally substituted the first. Its purpose was to address this problem and keep the error message, at the cost of introducing eve

[2017-04-10 15:29] Sei-Lisa commented on #7
Suggested patch:

[code]

[2017-04-10 22:35] Makopo commented on #6
I addressed above. Thank you.

[2017-04-10 22:38] XenHat commented on #6
Nice. I'll try that as soon as possible.

[2017-04-10 22:42] XenHat commented on #6
![image](https://cloud.githubusercontent.com/assets/980408/24885581/4310e2f0-1e1d-11e7-82dc-999336fb4791.png)
:ok_hand:

[2017-04-10 22:48] XenHat commented on #6
@Sei-Lisa @Makopo

While we're on the topic of fixing parsing stuff, would it be possible to implement https://github.com/Makopo/sublime-text-lsl/issues/36 ? We'd have to make lslint ignore (or even better safety-check) the preprocessor format (available at http://wiki.phoenixviewer.com/fs_preprocessor , at least that's the implementation I use right now).
I have tried and failed, I don't understa

[2017-04-11 01:03] Sei-Lisa opened #8 "Skip preprocessor directives?"
This is for discussion of a feature request related to Makopo/sublime-text-lsl#36, suggested in #6.

There isn't a lot that can be done about the preprocessor, without a preprocessor. Introducing its semantics into the grammar is extremely difficult, if feasible at all. A preprocessor is a non trivial piece of software, and its grammar has some differences with respect to that of C (and of LSL, of

[2017-04-11 02:40] Sei-Lisa commented on #8
One problem with this approach is that **lslint** will only see the preprocessor's output, which is not immediately available to the user. FS makes it available in a separate tab in which errors are displayed, leaving it up to the user to relate them to a corresponding original source line. My optimizer has the option to display the preprocessor's output, for pretty much the same reason.

So, it's

[2017-04-12 01:40] XenHat commented on #8
The main issue I am facing right now concerning the preprocessor directives (`#include`, `#if/#elif/#else/#endif`, `#define`, `#warning` and `#error`) is that they stop linting entirely due to not being actual LSL syntax(which is correct).
If teaching lslint a basic ```#<someting> "String"``` syntax to ignore, I'm still okay with making it ignore anything that begins with a `#` (`^\#[.*+|\\$` in s

[2017-04-12 10:38] Sei-Lisa commented on #8
Simply skipping them is only a half solution that helps in a limited number of situations. Most uses of the preprocessor will make **lslint** complain, even with the patch. Making use of a `#define` macro, for example:

[code]

will make **lslint** complain that `CHANNEL` is not defined.

[LSL-PyOptimizer](http://lsl.project.zone/lsl-pyoptimizer/) isn't a lint, in that it doesn't issue warnings fo

[2017-04-12 13:53] XenHat commented on #7
Patched my local binary. I am interested in offering an option for my linter if this cannot be automatically detected

[2017-04-12 13:55] XenHat opened #9 "Warnings cursor position is offsetted & error types have inconsistent cursor offset"
This one is a little complicated:
![image](https://cloud.githubusercontent.com/assets/980408/24960516/04d1ee38-1f64-11e7-9977-9deb5c7356de.png)

Text version:
[code]
[code]

Warnings:
If you look at `jump.lsl`. the warning for `jump X` is on `jump` instead of on `X` (**off by one word to the left**)
If you look at `@Unused`, same as above, cursor is **off by one word to the left**
If you look at `

[2017-04-12 14:06] Sei-Lisa commented on #9
Can you please post a test case as text?

[2017-04-12 14:08] XenHat commented on #9
Sure, I forgot about that.
[code]
[code]

[2017-04-12 14:16] Sei-Lisa commented on #7
No, obviously it can't be automatic. The same script can be compiled in LSO and in Mono, and the compiler doesn't know which one just by looking at the script.

For an editor, maybe you can change the extension (.lslm or .lslo) to make it explicit which one to compile for. Or allow a comment like ``//$pragma mono`` at the beginning of the script to let the user indicate an intention to compile it

[2017-04-12 14:19] XenHat commented on #7
I don't like either, either. I shall look into the available options. I
tend to use `.cs` for mono/C#, but to automate this, this linter plugin is
going to start needing some real python code and I don't know if
SublimeLinter supports that kind of advanced logic. @_@

[2017-04-12 15:49] Sei-Lisa commented on #9
Thanks. Warnings seem off by one line, following the viewer's line numbering that starts on line zero instead of the conventional numbering that starts on line 1. I will investigate that.

The error is actually more or less correct. Understanding why requires a bit of explanation.

Parsing is divided into two stages, lexical and grammatical analysis. The lexical analysis consists of grouping the i

[2017-04-12 21:58] XenHat commented on #9
Wow! thank you for the explanation. that is very clear now.

About warnings being off by one line; if you do fix the behavior, a switch would be appreciated to toggle "start at 0" on or off, as not all editors begin at line 0.
SublimeLinter has a parameter to offset the hint's location (`line_col_base = (1, 1)`), but then the line output would then be wrong (to the user):
![image](https://cloud.gi

[2017-04-13 00:38] XenHat commented on #9
@Sei-Lisa If perspective helps, this is the setting I have access to. http://www.sublimelinter.com/en/latest/linter_attributes.html#line-col-base.
As most linters start counting at 1, all I need is a consistent behavior.

[2017-04-13 03:50] XenHat commented on #7
I'm greenlighting this one, works as intended.

[2017-04-13 04:05] XenHat commented on #9
Nice, thank you. Applied the code changes, and it seems to fix the warning problem for the jump case.

![image](https://cloud.githubusercontent.com/assets/980408/24989667/55c4d526-1fdc-11e7-9388-5bd40cafd770.png)

I notice that `@Unused` has the warning cursor set on the `@` instead of `Unused`, is this another parser gatcha because there is no recognized identifier before (such as `key` on the li

[2017-04-13 04:41] Sei-Lisa commented on #9
Sorry, I forgot that one. Here's the patch:

[code]

[2017-04-13 04:42] XenHat commented on #9
Works!
![image](https://cloud.githubusercontent.com/assets/980408/24990435/1a34b962-1fe2-11e7-9b5e-44f0077bf9af.png)

[2017-04-13 04:51] Sei-Lisa commented on #9
`state` is also affected. Test case:

[code]

Reports the unused state problem in `state` rather than in the state name. Fix:

[code]

[2017-04-13 04:53] XenHat commented on #9
Uh, isn't that patch replacing with the same?

[2017-04-13 04:58] Sei-Lisa commented on #9
Global functions also affected. Test case:

[code]

Fix:

[code]

[2017-04-13 05:01] Sei-Lisa commented on #9
The pattern is very similar. As the header says, one affects `LLScriptState::define_symbols()` and the other `LLScriptGlobalFunction::define_symbols()`.

I guess I should start making branches and submitting pull requests. I didn't want to give up my current fork from pclewis/lslint, but I guess I'll have to. This is getting too out of control.

[2017-04-13 05:04] XenHat commented on #9
Ah. What I meant is that the patch for `LLScriptState::define_symbols()` doesn't seem to change anything.

[2017-04-13 05:04] Sei-Lisa commented on #9
Sorry, I get what you mean. Yeah, definitely out of control :D

I better have some sleep now before I make more mistakes. I'll look into that tomorrow.

[2017-04-13 05:04] XenHat commented on #9
All right :)

[2017-04-13 16:14] Sei-Lisa commented on #9
I'm unsure about the `jump` fix. The warning says: "<code>Multiple jumps for label `X' - only the last will execute.</code>" It's warning about the fact that the `jump` statement itself won't execute. I guess that ideally it would cover the whole statement, both jump and label, and that this is not possible, but wouldn't it be more correct to point to the jump that won't execute, rather than to th

[2017-04-13 18:48] XenHat commented on #9
True... Perhaps lslint should only return the line number without a column? SublimeLinter [has a setting for this](http://www.sublimelinter.com/en/latest/global_settings.html?highlight=column#no-column-highlights-line) to highlight the entire line when column is missing.

[2017-04-14 00:07] Sei-Lisa commented on #9
I don't think that would be adequate. Making an exception for this case seems going a bit over the top about it, not to mention that it can be a bit confusing; consider for example:

[code]

Marking the whole line would be somewhat confusing in this case. My vote is for leaving it as-is, reporting the jump.

[2017-04-14 09:28] XenHat commented on #9
all right . makes sense when put like that  jump it is

[2017-04-14 15:08] Makopo commented on #6
I merged #6 into master. Please re-clone master branch to see the change since I have deleted all the binaries from repo history.

[2017-04-14 23:27] XenHat commented on #6
Everything seems to be in order, this solves the issue for me.

[2017-04-15 00:44] #7 closed

[2017-04-15 00:54] Makopo commented on #7
I wonder if I'd change mono mode as default since current LSL defaults to it. Can you share your thoughts?

[2017-04-15 01:52] Sei-Lisa commented on #7
It may be a good idea. I have a hard time imagining a scenario where that could break something.

[2017-04-15 05:34] Makopo commented on #9
Sorry for late response, I read this discussion now.
I'll review the patch and merge soon. Thank you for you both effort!

[2017-04-15 05:44] #9 closed

[2017-04-15 05:44] Makopo commented on #9
It seems ok and merged.

[2017-04-15 14:17] Makopo commented on #8
I think the complete solution would be making a command-line LSL preprocessor, or request Phoenix project to do, and users run it (by command or editor plugins) to convert their scripts to standard LSL one before calling this lslint.

Meanwhile, I think that simply removing preprocessor command lines would be enough, that requires user tolerance against syntax errors or so caused by removing contr

[2017-04-15 15:01] Sei-Lisa commented on #8
The built-in preprocessor in Firestorm is _Boost Wave_, a generic C preprocessor. There are already command-line C preprocessors, so that's not an issue.

For instance, my optimizer doesn't preprocess, it calls an external program for that purpose. I normally recommend [mcpp](http://mcpp.sourceforge.net/), because it's a stand-alone executable and is easy to install, unless you already have GCC in

[2017-04-15 22:39] XenHat commented on #8
[e-mail response failed again]
The full resolution would indeed to implement a standalone
preprocessor, but that isn't what I wanted. I simply wanted to continue
using lslint and have it lint what it could and ignore what is
obviously not LSL. This would already be a better behavior than right
now, which is to entirely stop. I'm already using the patch(es) above
daily and they satisfy me for now.

[2017-04-16 01:17] Sei-Lisa commented on #8
I think I'm not getting what you mean by standalone application that `mcpp` or `gcc -E` doesn't already cover.

[2017-04-16 01:19] Makopo commented on #8
@Sei-Lisa

If you use mcpp, I believe `mcpp -P` will not print out `#line` message.

Yeah, I meant "Lazy Lists" or so.

[2017-04-16 01:19] XenHat commented on #8
I meant the process of writing an implementation of the LSL preprocessor that doesn't require the viewer to run. it's not /only/ boost wave, although that's the library behind the heavy lifting. I believe it used to be based on BISON. Certainly isn't anymore.

[2017-04-16 01:24] Sei-Lisa commented on #8
Ah, my optimizer processes lazy lists and switch statements. Optimization can be disabled completely, but constants are substituted (there's Sei-Lisa/LSL-PyOptimizer#4 requesting them to stay unchanged). Is that what you mean?

Regarding the patch, I would prefer if it was made optional, but I haven't yet figured out how.

[2017-04-16 03:29] Makopo commented on #8
I plan creating another mode for Firestorm, which enables enhanced syntax highlight for it. I wonder which way to behave when F7 build:

a) Full preprocess the file(s), then display it on another editor tab, and then run lslint to check it as normal LSL script.

b) Partial preprocess (only command directives which triggers any change in line number) the file(s), then display it on another editor t

[2017-04-16 18:24] Sei-Lisa commented on #8
I've managed to make this feature optional and will send a pull request soon. I've also made some progress towards a **lslint** implementation of switch statements and lazy list syntax.

While working on it, I realized that having a command line option to enable and another command line option to disable a feature can make us run out of letters soon. So I've thought about making the following chan

[2017-04-16 19:35] XenHat commented on #8
1: Sounds good to me.
2: that's fairly standard, `-` works.
3: I'd say, remove `M` since it's young. Maintainers gotta do their job.
4:  The letter attribution looks good to me.

RE:Note: Good point. Overriding by last-occurence is a good standard and is intuitive.

[2017-04-17 10:42] Makopo commented on #8
1. `-m` and `-m-`, `-i` and `-i-` is ok. For dialect expressions, how about adding `-O` (or `-F`) followed by each elements(`LazyList`, `Switch`, or so) like your optimizer?
2. I have no idea about this. Some existing switch (`-S`) seems to comply to the IEEE rule, but some don't.
3. I believe it would be now time to remove. Or, have LSO option rather than default mono mode instead?
4. Attribution

[2017-04-17 15:36] Sei-Lisa commented on #8
@Makopo

About 1: So far, the command line parser is very primitive. Python has a built-in getopt parsing library and powerful string functions; C fails in both respects. Parsing something like `-O` in the same way as the optimizer would need some work, which I'm not sure is worth the effort.

About 3: I much prefer Mono, for two reasons. First and most important, it matches the checkbox in the vi

[2017-04-17 20:45] Makopo commented on #8
Thank you for explanations. It make sense to me.

[2017-04-19 16:15] Sei-Lisa commented on #8
Thanks for the merge. This is the current WIP for switch statement support:  https://github.com/Sei-Lisa/lslint/tree/sei-syntax-extensions (rebased on current master). It currently supports the syntax just fine, but it doesn't introduce it into the tree yet, so at the moment it can't do further analysis to emit more warnings. I'd like to warn when there's no default, multiple defaults, identical c

[2017-04-19 23:39] Sei-Lisa opened #16 "integer *= float not supported"
As wicked as it may sound, LSL supports `IntegerLvalue *= FloatExpression`.

The semantics are the same as in this:

[code]

The `*=` operator is thus the only exception to the rule that a float is never implicitly cast to integer. However, **lslint** errors out:

[code]

This is going to be though to fix: **lslint** converts any `var op= expression` assignments to the internal representation ```v

[2017-04-20 01:24] Sei-Lisa opened #17 "Bring test suite back to a working state"
As it turns out, **lslint** has built-in support for unit testing. There is a `csh` script, `test.csh`, that is working. I've converted it to the more ubiquitous and well understood Bourne shell (`sh`) format, and I've added the `-#` parameter in the output:

[code]

However, now it needs to be reorganized to allow for Mono-only tests and LSO-only tests. I guess that specially named directories ma

[2017-04-20 01:44] XenHat commented on #8
I personally tend to compartmentalize topics, up to @Makopo

[2017-04-20 12:50] Sei-Lisa commented on #17
I've taken a first look at this. The initial commit by **pclewis** (after fixing the compile errors due to missing `string.h`), passes most tests, but in my system it aborts with failed assertions in 5 tests. I haven't looked into what these assertions are.

The next commit by Adam Wozniak doesn't change anything (it only makes it compile again and adds the `clean` target to the makefile). The nex

[2017-04-21 00:37] Sei-Lisa commented on #17
For reference, here is how the test suite works. Option `-A` turns **lslint** into its own unit test program, as follows:

- If a line has a comment like `// $[Ennnnn]` (for some number nnnnn, where 10000-19999 are errors are 20000-29999 are warnings), then it indicates that an error or warning is expected at that line.
- If a line generates no errors or warnings, and has no such comment, then not

[2017-04-22 13:05] Sei-Lisa commented on #17
Locally, I've managed to reduce the test suite to two failed tests. These are genuine regressions.

One of them is that #6 is not fully fixed: global vectors and rotations can't have negative components. I have a plan to fix it for good, and hopefully completely eliminate the shift/reduce and reduce/reduce conflicts in the grammar.

The other is that the value of pseudo-constants (globals that are

[2017-04-22 13:06] Sei-Lisa commented on #6
Unfortunately, this is not fully fixed: vectors and rotations in globals can't have negative components. Please reopen.

[2017-04-23 01:12] Makopo commented on #8
@Sei-Lisa I'd go with open the new one. Thanks.

[2017-04-23 01:20] Sei-Lisa commented on #8
Ok, then I guess this one is already closed.

[2017-04-23 01:20] #8 closed

[2017-04-24 01:45] Sei-Lisa commented on #6
I've pushed a fix to a branch in my repository, Sei-Lisa@aac09411a03365db90b6d6bc5d74e2e900f61883

**BEGIN tl;dr BLOCK ABOUT INTERNALS**

It's very invasive. The old approach was to parse the simple expressions (`simple_assignable` in the grammar) that are accepted in the globals in the same way as in the original LSL, and then add a rule afterwards that would catch all other expressions. But that

[2017-04-24 01:52] XenHat commented on #6
The approach I tend to use is to create getter and setter functions for such "passing", but a global is probably good enough for the size of this project. I can't really pronounce myself on that kind of complex internals for reasons explained before. Whatever works, I suppose.

[2017-04-24 15:20] Sei-Lisa commented on #6
I've opted for the alternative approach, because even though it's less powerful, it was less invasive because the global already existed. The drawback is that every time a script is parsed, `builtins.txt` are read again, but I don't foresee **lslint** parsing a script more than once.

[2017-04-24 21:51] Sei-Lisa commented on #17
#21 fixes the last two tests. I've introduced a `make check` target that runs the test suite for non-Windows machines. It would be awesome if the Travis build included that, so that we can see if the tests pass on every commit and PR, to avoid in future having a situation similar to the one before this bug.

[2017-04-30 10:09] #6 closed

[2017-05-11 13:35] buildersbrewery commented on #17
Currently there is a lot of noise in the syntax test files. A focus on minimal working examples would be greatly appreciated.

[2017-05-11 14:35] Sei-Lisa commented on #17
The unit testing suite? It's for testing the internal self-consistency of **lslint**, mainly to ensure that changes don't break existing behaviour. It doesn't matter much how long or short or clear or convoluted they are; what matters is why a test fails in case one does.

If you want examples of the use of **lslint**, that's not what these are.

[2017-05-11 14:50] Sei-Lisa commented on #17
By the way, the reason this is still open is because of the pending decision of whether to include the tests in Travis or not.

[2017-05-15 22:15] Sei-Lisa opened #34 "Report condition always false in loops"
A loop with a constant false condition doesn't execute, which may be a bad thing. Currently **lslint** warns about conditions being constant true or false in `if` statements, but not in loops. It would be nice if it did, at least for false.

It's an open question whether a constant true condition is also worth reporting. It's another open question whether it should be reported in `do`...`while` lo

[2017-05-15 22:28] Sei-Lisa opened #35 "Warn for (list)string_var or (list)key_var in LSO."
LSO has a weird bug. Variables of type `string` may have values of type `key`, and vice versa. This happens with implicit or explicit type casts. For example:

[code]

After the above code, both `mystring` and `myotherstring` hold values of type `key`, despite the variable being of type `string`. This is actually only visible when they are type cast to `list`:

[code]

The above code prints "the l

[2017-05-15 22:31] Sei-Lisa opened #36 "Add warning "Lists can't contain lists""
When a list contains another list, it would be nice to emit a warning, as these compile just fine but give runtime errors.

[2017-05-15 22:40] Sei-Lisa opened #37 "Update list of deprecated functions in lslmini.cc"
There are a bunch of functions that have been deprecated since **lslint** was created.

[2017-05-15 22:46] Sei-Lisa opened #38 "Warn for labels with the same name in the same function"
In LSO, the `jump` goes to the last label always, even if there's just one `jump` (there's already a warning when there are multiple `jump` instructions):

[code]

But in Mono it's even worse: you can't even SAVE the script. Not just compile but save.

So, detect that situation and emit a warning or error. Which one is preferable?

[2017-05-15 22:50] Sei-Lisa opened #39 "Warning about uninitialized global strings/keys in LSO"
This script causes a `Bounds Check Error` in LSO:

[code]

Try to detect it and emit a warning. In Mono it works fine.

[2017-05-15 22:54] Sei-Lisa opened #40 "Implement some mechanism to suppress warnings for a certain line"
Similar to the `// $[Exxxxx]` system for unit testing, it would be nice to be able to mark certain lines as known problems and not emit a warning for them.

It could perhaps be the same mechanism, but with a different flag that emits normal warnings instead of unexpected, and without emitting Assertion Failed if the warning does not happen.

[2017-05-22 22:29] Sei-Lisa commented on #34
For now, I've implemented it only for false conditions, and added no option for `do`...`while` loops, pending further comments.

[2017-05-24 10:10] #37 closed

[2017-05-24 10:10] #34 closed

[2017-09-22 08:30] buildersbrewery opened #43 "version & command line usage inconsistencies"
* running `lslint` fails (without target path or any other args)
  * printing help would be nice
* running `lslint --help` fails
  * printing help would be nice
* running `lslint --version` gives me the help, but not any version info
* running `lslint -V` gives me version info, but fills my screen with "Hello Kitty"
  * version doesn't match release
    * The binaries from the `v1.0.4` release sti

[2017-09-22 08:38] buildersbrewery commented on #43
If desired, maybe adding the "shout out" and "special thanks" sections from the `README.md` as a simple list here would make sense.

---

FYI @awozniak, @pclewis, @XenHat

[2017-09-26 12:01] buildersbrewery opened #44 "Add warning for "!!llTextBox!!" llDialog button labels"
Add warning for `"!!llTextBox!!"` llDialog button labels.

Compare:

<http://wiki.secondlife.com/wiki/LlDialog#Caveats>, subsection "button_limits"

[2017-10-03 22:28] Sei-Lisa commented on #43
I don't know if it will be different in other systems, I doubt it, but in Linux, `--help` shows the help. Not that that's intended, but it does for me, because `--` is interpreting the second dash as an option character that doesn't exist. Even `lslint --` shows the help for me.

`lslint` without arguments does not fail for me; it expects the script in stdin and that seems useful.

I agree on the

[2017-10-03 23:07] buildersbrewery commented on #17
I have some test files for using `LSL` with [`Sublime Text 3`](https://www.sublimetext.com):

<https://github.com/buildersbrewery/linden-scripting-language/tree/master/sublimetext/LSL/syntaxes/tests>

---

@ebickle has a single, more grammar-related file:

<https://github.com/ebickle/lsl-vscode/blob/master/test/samples/syntax-test-1.lsl>

[2017-10-04 00:26] Sei-Lisa commented on #17
I think you're completely missing the purpose of the `scripts/` directory.

It's designed to test the internal consistency of lslint's features. See https://en.wikipedia.org/wiki/Unit_testing (especially Advantages). Two bugs surfaced as a result of examining the test suite after it was repaired; see my 4th comment.

Each test is designed to trigger a certain feature of lslint, to ensure it's work

[2017-10-04 08:50] buildersbrewery commented on #17
@Sei-Lisa running `lslint` on my test files, I found `kwdb` is missing these:

* OBJECT_RETURN_TIME
* OBJECT_REZ_TIME
* OBJECT_SAT_UPON
* OBJECT_SELECTED

<http://wiki.secondlife.com/wiki/Release_Notes/Second_Life_Server/17#17.08.11.328159>

---

Running `lslint` on the other single file I linked above, gives me correct warnings and errors, but they're mostly displaced.

![lslint](https://user-ima

[2017-10-04 10:09] Sei-Lisa commented on #17
No it's not, and this isn't the forum to discuss that anyway. It may be that lslint hasn't been updated to the latest kwdb, but that's material for a new issue, not for hijacking an existing one.

Again, this isn't the place to discuss that. Please report this as a new issue, including the output of lslint rather than a picture. This one is about problems in the test suite. It is now in working or

[2017-10-04 10:17] Sei-Lisa commented on #44
It doesn't make sense to do this. If you include that exact text as a constant in a button, you surely know what you're doing, and you don't need a warning for it. If it's the result of user input, lslint can't detect it anyway, because that can only be detected at runtime. Warning at every dialog that doesn't have constant arguments, just in case it somehow comes from the user, is an annoyance th

[2017-10-04 12:38] Makopo commented on #43
`lslint` without any option seems to work fine for me.

[code]

This is USAGE, not version info.

[code]

`--version` is simply not yet assigned to do anything, resulting in showing usage info. `--` is the same. It can be difficult to assign any feature to `--version`, taking a look at current lslmini.cc implementation. `-v` could be implemented easier though.

I don't want to erase original creat

[2017-10-04 13:51] #44 closed

[2017-10-05 10:40] Makopo commented on #17
cf48468a7b05c52459e3f6c70f52f7c714b8333b addresses this issue. Thanks Sei-Lisa! Closing.

[2017-10-05 10:40] #17 closed

[2017-10-05 10:53] Makopo commented on #43
So, what if `-v` without any option and file show version info?

[2017-10-05 14:29] Sei-Lisa commented on #43
`-v` is taken for verbose. I suggested `--version` because it's pretty standard among many applications. It's also not unheard of to have two version info options, one more "machine-readable" and another more "user-friendly". gcc and gimp are close to that; try `gcc -v` and `gcc --version`, or `gimp -v` and `gimp --version`.

Since creating a full-fledged standard command-line parser is overkill f

[2017-10-05 14:36] Makopo commented on #43
Now it makes sense to me. I'll wait PR for now. Thank you.

[2017-10-05 18:14] XenHat opened #46 "Linter stops reporting errors after preprocessor definitions"
I believe that work has been done in the past to continue linting anyway.
This reported all errors before I updated my LSL development environment on Sublime-Text:

[code]

Now I get:
![image](https://user-images.githubusercontent.com/980408/31243168-664e479e-a9d7-11e7-95a9-3d403e19efe0.png)

Line 2 and 7 should throw an error as well.

[2017-10-05 19:11] Sei-Lisa commented on #46
Thanks. That testcase produces this output for me:

[code]

I get the same result from commit 2f09e68 which is the original commit (after adding the missing string.h to the headers), therefore this is not a regression.

Passing the option `-i` (ignore preprocessor directives) to lslint at current master, I get:

[code]

That option enables it to progress further, enough for it to find two syntax e

[2017-10-05 19:13] XenHat commented on #46
Ah, right. I must have added `-i` locally and forgot to commit, then! 😨

[2017-10-05 19:13] #46 closed

[2017-10-05 20:28] buildersbrewery commented on #46
Maybe appending a `Try running "lslint -i ..."` to the output would make sense?

[2017-10-05 20:34] buildersbrewery commented on #46
@XenHat You can use the `lsl` marker to make Github highlight the code block as `LSL`.

[code]

...which reminds me that I should send them an update...

[2017-10-06 10:41] #43 closed

[2017-10-08 04:08] Winterwolf opened #47 "Can't #include files"
Looks like lslint knows about Firestorm's preprocessor, but it just ignore included files and then swears about undeclared variables :(

[2017-10-08 08:06] Sei-Lisa commented on #47
This is by design, see #8. Use an external preprocessor such as [mcpp](http://mcpp.sourceforge.net/download.html) (I recommend mcpp because it's a standalone executable) and pipe its output to lslint. The problem with this approach is that lslint does not yet recognize `#line` directives and won't report errors and warnings in the original file's lines, but in the preprocessed file's lines, so the

[2017-10-08 15:02] Winterwolf commented on #47
@Sei-Lisa Thank you for answer! I installed mcpp, but have no idea, how to use it in sublime text.

[2017-10-08 16:12] Sei-Lisa commented on #47
Me neither. I don't use sublime text. I use lslint as a stand-alone application, which is what it's designed to be, therefore that is out of scope here. Maybe send this as an enhancement request to the author of the plugin that interfaces sublime text with lslint? I think this may be the place: https://github.com/XenHat/SublimeLinter-contrib-lslint otherwise you can probably get better indications

[2017-10-08 17:32] XenHat commented on #47
@Sei-Lisa Interesting! I will set up mcpp as soon as possible and see if I can wrangle the snake into accepting `#line`.

[2017-10-12 23:33] Winterwolf opened #48 "Warns about unused function parameters should be configurable (like event parameters)"
Here is example with descriptions:

![temp](https://user-images.githubusercontent.com/405685/31523851-b86667cc-afbe-11e7-8fe4-aa33e435fa7c.png)

[2017-10-12 23:46] Sei-Lisa commented on #48
Could you explain what's the use case for having unused user function parameters in your code?

[2017-10-12 23:50] Winterwolf commented on #48
This example is not using start parameter, but the first file with base functions is designed to be universal, so some another script may need a start parameter.

[2017-10-13 00:03] Winterwolf commented on #48
I mean, I have a global init function for any my scripts, and each separate script has own "local" init function. I can not be sure which parameters are needed for individual local functions in separate scripts, so when declaring a local function it must take all global parameters.

[2017-10-13 00:09] Winterwolf commented on #48
Ofcourse, this problem is actual only when you using preprocessor.

[2017-10-13 00:17] Winterwolf commented on #48
Event-initialisation functions are used around the same principle - `llisten` accepts empty variables when we do not know who exactly we are going to listen.

[2017-10-13 12:50] Sei-Lisa commented on #48
In that precise case, `llGetStartParameter()` can supply the appropriate information if/where necessary,

Anyway, I don't think that this justifies suppressing the warning in all cases. If you suppress it, you risk having parameters that will take memory in other parts of the code where it is an actual mistake. I think this is better handled with the method suggested in #40.

[2017-10-14 09:28] Winterwolf commented on #48
I agree. This method can be a good solution.

[2017-10-14 09:28] #48 closed

[2017-10-16 12:33] #40 closed

[2017-10-16 15:59] Sei-Lisa commented on #16
Now that #40 is implemented, I'd vote for closing this as wontfix, and if someone uses that intentionally, they can add a comment with `$[E10002]`.

[2017-10-17 10:17] #16 closed

[2017-10-30 20:37] Sei-Lisa commented on #48
FYI, this has been implemented in #49 which is now merged. I don't know when @Makopo will release a version with this feature, though.

[2017-11-04 12:47] Makopo commented on #48
I built current version of lslint just now. Thanks.

[2017-11-04 17:44] Sei-Lisa opened #53 "Missing identifiers in global lists not detected"
Example:

[code]

reports no errors. On the other hand:

[code]

reports B as unused identifier in line 1.

<s>This looks like a consequence of c399e93 and its follow-up commits.</s> I'm looking into it.

Edit: Upon further analysis, it's clear that it's not a consequence of it. The first commit has the same problem.

[2017-11-04 17:46] Sei-Lisa opened #54 "Vector element types not checked in globals"
Example:

[code]

gives no errors. <s>Seems like a consequence of c399e93 or its follow-up commits.</s> I'm looking into it.

EDIT: Upon examination, it's a preexisting bug. The first commit has the same problem.

[2017-11-05 00:55] #53 closed

[2017-11-05 00:55] #54 closed

[2017-11-16 21:25] XenHat opened #56 "Warning about unused lazy list function when in use"
[code]
and
[code]
Emits the following:
[code]

[2017-11-17 00:56] Sei-Lisa commented on #56
It basically happens on any script that lacks lazy list assignment, when you activate the `-z` flag. Even the shortest script

[code]

produces it. But a lazy list assignment gets rid of it:

[code]

I guess the function should only be added when an assignment exists, AND the function does not previously exist (the FS optimizer supports and relies on overwriting of functions: defining several func

[2017-11-22 14:09] #56 closed

[2017-11-23 13:11] buildersbrewery opened #59 "Wrong error for "variable not declared""
While writing some syntax test files, I noticed that `lslint` (v1.0.8) reports a "variable not declared" error for declared variables who've been assigned invalid syntax.

---

Minimal example below where an error is reported by `lslint` (v1.0.8) for `test` in line 12:

![image](https://user-images.githubusercontent.com/13032004/33174120-ee86d98c-d056-11e7-8685-dee9e82439c0.png)

[code]

[2017-11-23 15:31] Sei-Lisa commented on #59
I get this output with the above script:

[code]

This is the expected output. The syntax error prevents the parser from fully recognizing the declaration as such, therefore the declaration of the variable does not get completed, therefore it does not get declared.

I went into more details about the cause, as it applies to a similar problem, here: https://github.com/Makopo/lslint/issues/46#issuec

[2017-11-25 02:47] Makopo commented on #56
I confirmed that 0844982ad3f9 resolved the issue above. Thank you.

[2017-11-25 11:50] Sei-Lisa commented on #59
After taking a more detailed look, I take that back. #61 introduces improvements, but for some reason it doesn't address this particular test case. I'm looking into it.

[2017-11-25 12:25] Sei-Lisa commented on #59
OK, cause found and fixed.

[2017-11-25 12:28] Sei-Lisa commented on #46
#61 improves error recovery in the above test case. Now the syntax error at the end can be recovered without losing the script.

[2017-11-25 15:54] #59 closed

[2017-11-25 20:27] XenHat commented on #46
I have not looked at the code for a while now but would it make sense and be helpful in the long run to investigate the difference between the code path with `-i`and the one without, to try to merge them when it makes sense and untangle this kind of issues?

[2017-11-25 20:59] Sei-Lisa commented on #46
I'm not sure what you mean. `-i` is interpreted at the lexical analysis level; it just removes lines with preprocessor directives so that they never get to the syntax analyzer (which makes sense since they are lines intended for *pre*-processing). People who don't use a preprocessor at all may want to use `#` characters as markers of some kind, as they are just ignored by the parser, like `$` or `

[2017-11-25 21:40] XenHat commented on #46
_Sorry for the lack of clarity earlier, I was on my phone._

I typically see these kind of different behavior when two blocks of code perform the same action in different ways, with duplicated code. I was wondering if that was the case and if the code suffered from maintainability issues due to this.
I.e:
[code]
as opposed to
[code]

`Version A` is easier to read, but can cause maintainability iss

[2017-11-26 00:18] Makopo commented on #56
I found that win xp build fails:

[code]

[2017-11-26 00:42] XenHat commented on #56
Same for windows64: https://github.com/Makopo/lslint/pull/61#issuecomment-346974012

[2017-11-26 01:36] Makopo commented on #56
btw I'll departure for the trip in several hours, so anyway I'll merge coming PRs (and build if I can) next weekend...

[2017-11-26 01:47] XenHat commented on #56
All right.

[2017-11-26 04:41] Sei-Lisa commented on #46
I'm still not sure if I understand, so I'll explain how it works. Option `-i` is implemented in the lexical analyzer, by making C preprocessor commands behave the same as comments, see https://github.com/Makopo/lslint/blob/c1a3baa48a0dd843de9f7b29d751b5c47ead8812/lslmini.l#L159-L161

Compare to lines 46, 52 and 53 (the block at lines 47-51 is a lslint-specific extra for handling `$[Exxxxx]` assert

[2017-11-26 04:59] Sei-Lisa commented on #56
I didn't expect a syntax error. Could it be that builtins_txt.cc was not correctly generated for some reason?

Making a change in builtins.txt (e.g. something like the Unix `touch` command) should force builtins_txt.cc to be regenerated.

[2017-11-26 05:40] XenHat commented on #46
I understand how this works now, I think.

I didn't mean that the `-i` was to be removed, I guess I simply misunderstood the difficulty of the code.

BISON doesn't even appear to support the complexity that would induce the problem I mentioned. haha..

[2017-11-27 21:25] Sei-Lisa commented on #56
Sorry, for some reason I expected the problem to be in builtins_txt.cc and I see that it has nothing to do with that.

The problem is the C++11 specific assignment:

[code]

 Isn't the compiler C++11 capable?

[2017-11-27 21:28] XenHat commented on #56
Microsoft's Visual C++ Compiler is mostly standard compliant, up to stdc++17

[2017-11-28 10:03] Sei-Lisa commented on #56
Mako mentioned Windows XP, though, and I'm not sure what compiler she's using. If we have to support C++03 or earlier, then that patch needs to be rewritten in a different way (either with `memset` or setting each field separately).

[2017-11-28 10:05] XenHat commented on #56
I would recommend keeping the C++11 version, and adding a WINXP preprocessor thing..

[2017-11-29 22:00] buildersbrewery opened #63 "No error reported with "ZERO_VECTOR.x" and similar constructions"
The following code does **NOT** compile in Second Life:

[code]

however lslint does not complain. Tested with `v1.0.8`.

[2017-11-30 00:36] Sei-Lisa commented on #63
Thanks for the report. It's a consequence of commit 24127a6 (the one that introduces builtins.txt), and it's irritating, because in that commit, constants are treated by the syntax analyzer like any other variables, making it more difficult to catch that situation.

[2017-11-30 10:56] Sei-Lisa commented on #63
#64 should fix this, though I'd appreciate feedback regarding the error message.

[2017-12-03 10:49] #63 closed

[2017-12-05 23:32] buildersbrewery opened #66 "Add chmod fix to "archive_lslint.sh"?"
To prevent having to use the following workaround:

https://github.com/Makopo/sublime-text-lsl/blob/e50c37795ef16c4703412e0f89f3791eaf58f3cf/init.py#L1-L18

on Linux and macOS maybe `archive_lslint.sh` could be update to implement the fix right away?

---

/cc @thickbrick

[2017-12-06 09:43] Makopo commented on #66
This script is just for use on my own, not related to sublime plugin.
If others are confused by its existence, I'll delete the script, should I? @XenHat @Sei-Lisa

[2017-12-06 12:10] Sei-Lisa commented on #66
I'm OK with its existence. I'm not sure what the complaint is here. Does the binary that is zipped lack exec permissions? That would be weird.

[2017-12-06 12:20] Sei-Lisa commented on #66
On Linux, unzipping one of the released zips properly sets permissions of the executable to a+x. If that's not the case for someone, that's a problem with whatever is used to unzip the package.

[2017-12-06 18:36] buildersbrewery commented on #66
No need to delete anything.

--

I added the binaries to a repo of a Sublime package. Package Control downloads an archive of the latest tag from Github and unpacks that. Looking at <https://github.com/wbond/package_control/tree/master/package_control/downloaders> there are multiple ways this can be achieved depending upon OS and connection.

On buildersbrewery/sublime-lsl#1 @thickbrick implied it

[2017-12-06 18:39] buildersbrewery commented on #66
I unzipped on Windows using the 7zip beta x64 from the releases page, if that makes a difference

[2017-12-06 21:57] Sei-Lisa commented on #66
So, I've checked in more detail. The problem seems to be that your (@buildersbrewery) repository doesn't have the lslint binary marked as executable: cloning it, I get a non-executable binary. I have no idea how to do that from Windows, because from Linux the permissions are read directly from the filesystem. I guess Google knows the answer.

As a side note, you seem to have a bunch of files that

[2017-12-07 00:00] buildersbrewery commented on #66
Will have a look around. Thanks for the input.

[2017-12-07 00:08] buildersbrewery commented on #66
Found this: <https://superuser.com/questions/170171/file-permission-in-zip-7z-rar>

[2017-12-07 06:47] thickbrick commented on #66
I think ```git update-index --chmod=+x``` should work on windows to set the unix permissions stored in the git repo (since windows filesystems don't store those.)

BTW @buildersbrewery , the same is needed for the mcpp binaries in your repo (but there are other issues with them too.)

[2017-12-07 11:02] Sei-Lisa commented on #66
This link may be helpful: https://stackoverflow.com/questions/21691202/how-to-create-file-execute-mode-permissions-in-git-on-windows

There's more than one way to skin that dog. But the basic premise is the same: you have to mark the file as executable in git and then commit and push. That should mark it as executable also in the zipped version that github offers, and I believe that should fix the

[2017-12-07 19:27] #66 closed

[2017-12-07 19:46] buildersbrewery commented on #66
Ok, so I'll do this to all binary files with the extensions listed above.

It would've been nice if this was possible in a permanent way when making the files here, though. But I guess I understood that wrong in the beginning.

[2017-12-08 11:52] Makopo opened #67 "variadic macros error on Linux32 and OSX"
on Linux32:

[code]

on OSX:

[code]

[2017-12-08 13:43] Sei-Lisa commented on #67
Just removing the `__GNUC__` condition and leaving `DEBUG(...)` works for me. There's no need for named variadic args there.

[code]

[2017-12-09 23:57] Makopo commented on #67
Thank you for investigation. This project are now built with -std=c++98 option introduced by #65.
Even anonymous variadic macros were introduced at c99, it still throws error.

[2017-12-10 09:57] Sei-Lisa commented on #67
Ahh crap! I have no idea how to get out of that one then. For some reason, my compiler doesn't catch those. Which compiler / version are you using?

The possibilities that come to my mind are:

- change `-std=c++99` to `-std=gnu++99`
- replace `#define DEBUG(...)` with `static inline void DEBUG(...) { }`

either of which is ugly as hell.

[2017-12-10 12:00] Makopo commented on #67
On Mac:
[code]

On Linux32:
[code]

Both `-std=c++99` and `-std=gnu++99` threw a error as a invalid option.
Thanks.

[2017-12-11 11:39] Sei-Lisa commented on #67
Thanks. Well, let's go for the ugly but guaranteed-standard hack.

[2017-12-12 10:05] #67 closed

[2017-12-12 10:19] Sei-Lisa commented on #67
I take it that the PR fixed it. How come Travis didn't complain? Maybe it's using the same compiler I'm using. This looks like a regression in GCC.

For the record:

    $ g++ --version
    g++ (Debian 6.3.0-18) 6.3.0 20170516

[2017-12-12 11:01] Sei-Lisa commented on #67
Never mind. I was being dumb. I could reproduce it with `make DEBUG=`.

[2018-01-02 18:48] buildersbrewery opened #69 "Show error for list in list"
lslint should report an error for:

[code]

Suggestion:

* check for explicit casts to list
* check for functions that return a list

SL behavior:

* script compiles, but crashes

---

Tested with `v1.0.8`.

[2018-01-02 19:47] Sei-Lisa commented on #69
This looks like a dup of #36.

[2018-01-02 23:08] #69 closed

[2018-01-03 02:28] Sei-Lisa commented on #69
Can you clarify this, please?

My understanding is that the situation to catch is a list constructor `[ ... ]` containing any element of type list, isn't that so? For example, this should also be caught:

[code]

[2018-01-03 10:08] buildersbrewery commented on #69
That too, yes.

[2018-01-03 10:10] buildersbrewery commented on #69
Catching that and user-defined functions that return lists would require keeping track of variable and function types, though.

It's a bit easier to catch if there's an explicit cast to list or a built-in function that returns a list.

[2018-01-03 11:51] Sei-Lisa commented on #69
The good news is that lslint already does that :)

I have a patch ready. I'll submit it soon.

[2018-01-03 13:10] #36 closed

[2018-01-07 02:06] Makopo commented on #67
Thank you for heads-up anyway.

[2018-01-09 12:36] buildersbrewery opened #71 "Unexpected error with fs preprocessor examples"
Using [`lslint v1.0.9` with `mcpp v2.7.2`](https://github.com/XenHat/SublimeLinter-contrib-lslint/blob/6674409/linter.py) with the [fs preprocessor](http://wiki.phoenixviewer.com/fs_preprocessor) example scripts:

![image](https://user-images.githubusercontent.com/13032004/34720881-bf9dc82e-f540-11e7-9b6d-2a48ceb60494.png)

[2018-01-09 13:14] buildersbrewery opened #72 "clangd output for v1.0.9"
Posting below an output for `lslint v1.0.9` via:

* Sublime Text Build 3156 x64 portable for Windows
* [LSP](https://github.com/tomv564/LSP) package
* [clangd](http://releases.llvm.org/download.html)
[code]

Hope this helps with further development.

---

[code]

[2018-01-09 14:15] Sei-Lisa commented on #72
That looks like the include path is seriously broken, which causes all the other errors. Also, that last file is generated by flex or bison, can't remember which, so it seems that you don't have them either, or that the makefile failed to run them for some reason.

[2018-01-09 14:19] Sei-Lisa commented on #71
The include files can't be linted; only the main file can. lslint always expects a complete program, not a fragment that can be included as part of another script.

[2018-01-09 15:04] Makopo commented on #72
Will you check if attached binary work well?
[lslint.exe.zip](https://github.com/Makopo/lslint/files/1615522/lslint.exe.zip)
I don't know much about linkages but the recent builds are built with VS 2017 community and that might be cause this issue.

[2018-01-09 15:39] Sei-Lisa commented on #72
It doesn't seem to be about the binary/libs, but about the build process (or perhaps the makefile). Somehow it doesn't manage to find *include files* as basic as `iostream` or `stdio.h`. I'm not able to reproduce that build environment, so I have no way to debug it.

[2018-01-09 22:29] Makopo commented on #72
@buildersbrewery can you reproduce the issue or work well if you build from source?

[2018-01-10 09:01] #71 closed

[2018-01-10 09:04] buildersbrewery commented on #72
@Makopo I didn't run the build prozess as I didn't have too much time yesterday. I'll look into this further and report back.

[2018-01-11 21:46] Sei-Lisa commented on #72
I'm confused. You can only get these errors while compiling lslint. If you were not doing that, I'd appreciate a more elaborate explanation on what you were trying to achieve and how.

[2018-01-12 09:37] buildersbrewery commented on #72
I was looking into how to:

* build a [language server](https://langserver.org) for LSL.
* which parts of lslint would make sense to be put on a TODO list for that.

---

Anyhow, to get back to the topic here:

* My first step was to download the source code for lslint and trying to understand it.
* The output is from a language server protocol plug-in for Sublime Text which hooks into `clangd`. L

[2018-01-13 12:57] Sei-Lisa commented on #72
I wonder if you have a C++ library at all. Usually, compiler packages come with the libraries included, but from [the clangd description page](https://clang.llvm.org/extra/clangd.html), it seems to me that it's just the compiler itself with no libraries.

Also, clangd must somehow find the includes, so I guess there must be some kind of configuration to tell it where the includes and libraries are

[2018-01-13 13:02] Sei-Lisa commented on #72
There's also the issue of needing flex and bison. I wonder if lslint should include the generated lslmini.tab.h in the repository, for the benefit of those who don't have flex or bison installed and don't want to fiddle with lslmini.l or lslmini.y.

[2018-02-14 00:12] XenHat opened #73 "Crash on unclosed c-style comments under some circumstances"
using `lslint v1.0.9` with `Sublimelinter-contrib-lslint` and `MCPP V.2.7.2`:

The following script causes lslint.exe to crash on __every__ lint attempt:
[code]
This is as generic as I could reproduce it (I spoke about this issue with @sei-lisa several months ago but the specifics of this bug and the holidays delayed reproducing it for quite some time).
It would appear that the following sequence

[2018-02-14 10:56] Sei-Lisa commented on #73
This is the obvious fix:

[code]

I haven't looked into why it gets into that situation yet, to know whether that's the correct fix, but if you need an emergency fix, there's that.

i'm too busy to look into it in more detail now. When I have some more time I will look and submit a PR.

[2018-03-11 12:00] Sei-Lisa commented on #73
OK, finally got more time to take a closer look at this.

I'm not sure that the above is the right fix. The problem originates from this snippet:
https://github.com/Makopo/lslint/blob/464a28dde6047cd5830602a6ba58947465daecae/lslmini.cc#L242-L252

Note the `return` statement at line 247. That's what is preventing the symbol from being defined. If I remove it, I get this output from the above test c

[2018-03-11 15:56] Sei-Lisa commented on #73
When just removing the return, it fails one testcase, scripts/scope3.lsl which goes like this:

[code]

With the patch, E10001 is also thrown. E10001 is the duplicate identifier error. The scope rules mandate that a new scope is only created when opening braces and when declaring function parameters, therefore the second `integer test` is in fact in the same scope as the first, meaning it's indeed

[2018-03-11 16:15] Sei-Lisa commented on #73
Sorry for the spam, but I think I should throw this in for consideration. The question is one of philosophy: should the symbol be defined when the declaration is in itself causing an error?

The assumption of the test case is that the symbol should not be defined, i.e. since the declaration is an error, act as if it does not exist. That would lead to my first patch: leave the return in place and c

[2018-03-19 02:10] XenHat commented on #73
I personally use lslint *(or did, until SublimeLinter4 happened and everything broke in a way I simply __cannot__ fix because they removed the functions I depend to make the linter work......)* to help me find errors in my code, so errors caused by other errors are something that always get in the way for me. I'd rather have the linter straight up stop processing when such an error exist (except i

[2018-03-19 12:02] Sei-Lisa commented on #73
Thanks for your feedback. Stopping at the first error is the easiest way to go (which is why LL chose that approach and I mimicked it in my optimizer), but it's not what lslint is about. Error recovery consists of trying to second-guess the author's intentions in case an error is found, attempting to act as if the mistake that led to an error is not there, so that hopefully no errors that are dire

[2018-03-20 12:13] #73 closed

[2018-04-22 01:08] Sei-Lisa opened #78 "No error for using variables before being declared"
Example:

[code]

Output:

[code]

[2018-04-22 11:00] #35 closed

[2018-04-22 15:15] thickbrick opened #79 "Segfault when using a naked identifyer after decleration in the global scope"
This script will crash lslint:
[code]

Tested with latest from git and with 1.0.9.

Backtrace from gdb:
[code]

[2018-04-22 18:59] Sei-Lisa commented on #79
Thanks, I can reproduce that. You don't even need a complete script, just `integer a; b;` suffices, because it's crashing while parsing, in this line (as frame `#1` in your backtrace shows):

[code]

A `git bisect` shows that the crash is happening as a consequence of this commit: 6724501

It looks to me that since that commit, `$2` can be `NULL` as a result of error recovery, and that's not check

[2018-04-22 23:56] #79 closed

[2018-04-24 21:54] #78 closed

[2018-04-26 08:30] #38 closed

[2018-04-28 11:12] Sei-Lisa opened #86 "Give math errors"
Mono is quite happy to work with Infinity/NaN in most cases (in all except division, more exactly). LSO, however, is not permissive at all, and when a calculation produces one of these two values, the script stops with a Math Error.

When these are the result of calculations with constants, they can be detected and reported by lslint.

[2018-04-28 16:13] #39 closed

[2018-05-01 17:17] Sei-Lisa commented on #72
@buildersbrewery How did this end up? Should we keep this issue open?

[2018-05-11 13:56] Sei-Lisa commented on #72
@Makopo I suggest to close this for now. It doesn't seem like something needing any actions from the lslint side. If the OP wants to provide more information on what lslint can do to help with this, it can be reopened.

[2018-05-15 19:22] buildersbrewery opened #87 "new release with latest changes"
Hi @Makopo,

if you find some time I'd appreciate a new release with the latest changes.

Thanks

[2018-05-15 22:43] Sei-Lisa commented on #87
Hold on, I'm sending another PR first. I've just found that `key + string` is allowed but it shouldn't:

[code]

[2018-05-16 00:39] Sei-Lisa commented on #87
#88

[2018-05-20 01:13] Makopo opened #89 "Compilation error in XP-build"
[code]

[2018-05-20 01:28] Makopo commented on #87
After resolving #89 I'll publish release.

[2018-05-20 01:33] Makopo commented on #89
Looking into these compiled code:

https://github.com/Makopo/lslint/blob/0fd94542a8cb5672f29e5dad6b0d2d91b2f72c23/lslmini.hh#L145-L168

[2018-05-20 01:43] Makopo commented on #89
Simply replacing all `int32_t` to `int` will resolve this issue though it will revert 13e071b91b552e0eeb6f5f9d195159eef39dd7 from @Sei-Lisa. Any thoughts?

[2018-05-20 11:04] Sei-Lisa commented on #89
I don't have an XP compile environment, but since builtins.cc is already using `int32_t` without problems, and it just does `#include <stdint.h>`, the fix is probably as simple as this:

[code]

Can you please try and see if that suffices to fix the build?

[2018-05-20 21:34] Makopo commented on #89
Thank you. I have tested above and confirmed all windows build worked well.

[2018-05-21 10:26] #89 closed

[2018-05-21 13:34] Sei-Lisa commented on #87
Note also the new functions, `llName2Key` and `llRequestUserKey` in KWDB.

[2018-05-22 14:27] Makopo commented on #87
Released.
https://github.com/Makopo/lslint/releases/tag/v1.1.0
Sorry for empty summary, I'll write it in near future.

[2018-05-22 14:27] #87 closed

[2018-10-07 02:19] Makopo opened #91 "Xcode 10 build issue"
From [Xcode 10 Release Note](
https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes)

[code]

Need to address to x64 then?

[2018-10-07 09:56] Makopo commented on #91
Thank you. I confirmed that the latest build arch is i386.

[code]

I remember when ead38f503b381a4e0de49ced4ae13dedadedfef6 I copied properties for power pc and made them for osx. That's why i386 build there now.

I omitted both i386 from compiler and linker options, I could successfully build x64 binary.

[code]

Mojave will perhaps be the last version which allows i386 binaries, so I will launc

[2018-10-07 14:01] Makopo commented on #91
I released x64 osx binary as v1.1.2.

[2018-10-07 14:01] #91 closed

[2019-02-02 04:32] Makopo opened #94 "Ignore "inline" LSL-PyOptimizer directive"
lslint doesn't ignore "inline" directive used for @Sei-Lisa's [LSL-PyOptimizer](https://github.com/Sei-Lisa/LSL-PyOptimizer/).

For example, [this code](https://github.com/Sei-Lisa/LSL-PyOptimizer/blob/574f92d08e6ca6c5283487e5467b1bb0f4072aeb/unit_tests/coverage.suite/inline-1.lsl) throws following errors.

[code]
I posted this issue inspired by inworld inquiry from Cindy Reynaud.

[2019-02-02 04:39] Makopo commented on #94
FYI, `lslint -i test.lsl` only removes the first error.

[2019-02-02 08:37] Sei-Lisa commented on #94
PyOptimizer has a number of syntax extensions, not just this one. Adding support for them all is quite a bit of work. Cindy may want inline keywords, other users may want expressions in globals, others may want C-style string juxtaposition, others may want multiple labels with the same name, and so on.

I wonder if lslint needs to support all these syntax extensions. An alternative solution is tha

[2019-02-02 08:49] Sei-Lisa commented on #94
There's also https://github.com/riej/lsl_ext which a number of other syntax extensions. Other users may want to use these with their editor. Supporting them all is a lot of work, and lslint was not designed for that. A few syntax extensions like lazy lists and switch statements are widely supported due to being incorporated into Firestorm and the optimizer, but I don't think we should go beyond th

[2019-02-02 11:53] Makopo commented on #94
What @Sei-Lisa say makes sense to me so I added [the instruction to change build tool from lslint to LSL-PyOptimizer to README.md](https://github.com/Makopo/sublime-text-lsl#using-other-build-systems-for-dialects). I haven't supported any dialects on the ST plugin so this would be a reasonable solution.

[2019-02-03 21:16] Sei-Lisa commented on #94
Thanks, but are you sure the regexp is OK? That looks very much like the lslint one.

[2019-02-03 23:37] Makopo commented on #94
I keep it as the same as lslint for the time being, since it anyway actually won't work now. ST build system [file_regex](https://www.sublimetext.com/docs/3/build_systems.html#exec_options) needs filename on each line. ([line_regex] doesn't require it but anyway filename should be at somewhere) FYI that's why I forked original lslint and added `-p` option for ST plugin.

[2019-02-04 01:09] Makopo commented on #94
For LSL-PyOptimizer, `^()\\(Line\\s*([0-9]+)\\s*char\\s*([0-9]+)\\):\\s(.*)` will come closer to success, if the first group contains the filename. FYI, [ST regex is perl based](https://www.boost.org/doc/libs/1_69_0/libs/regex/doc/html/boost_regex/syntax/perl_syntax.html).

[2019-02-05 06:57] Makopo commented on #94
Thank you for enhancement. It seems work so I revised README.

[2019-11-02 01:15] Makopo opened #96 "OSX behaves differently in vector completion"
Testing code (excerpted from mono/casts.lsl) :

[code]

On linux:
[code]

On osx:

[code]

Tested in inworld, `<0.00000, 0.00000, 0.00000>` seems to be true.

[2019-11-02 12:55] Sei-Lisa commented on #94
Can this issue be closed?

[2019-11-02 12:57] Makopo commented on #94
Yes. Thanks.

[2019-11-02 12:57] #94 closed

[2019-11-02 19:34] Sei-Lisa commented on #96
Thanks for the report. The problem is that in OSX we get a valid vector `<1, 1, inf>` from the expression `(vector)"<1,1,infi"`:

[code]

when the expected result is to invalidate the vector:

[code]

So, the C library used by Apple is considering `"infi"` as a valid value for infinity, while glibc is rejecting it. It's not surprising, as that behaviour is pretty surprising in glibc.

I'm working

[2019-11-04 00:46] Sei-Lisa commented on #96
Not sure why this wasn't automatically closed, but it's fixed by #97.

[2019-11-04 00:53] Makopo commented on #96
https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords#about-issue-references

Perhaps it may close this issue if you write "fixes" immediately followed by "#97"..

[2019-11-04 00:53] #96 closed

[2020-02-10 22:10] XenHat opened #99 "Win64 binaries?"
[lslint.zip](https://github.com/Makopo/lslint/files/4183295/lslint.zip)

I have sucessfully compiled new win64 binaries. Should the build system be fixed?

[2020-02-11 00:44] Makopo commented on #99
I was trying to build on travis-ci (and discontinue Windows XP build). Fixes are welcomed.

[2020-03-12 00:12] buildersbrewery opened #100 "Releases, Naming & Semver"
Sorry, I'm kind of lost with the latest updates:

* You're tagging the same commit with three different version tags.
* Newer tags in time are older according to SemVer, though.
* Looking at the following, I'm not even sure what is what:

<img width="231" alt="image" src="https://user-images.githubusercontent.com/13032004/76475050-febe9500-63fd-11ea-8ae5-f88e7dab33a9.png">

[2020-03-12 00:14] buildersbrewery commented on #100
What should we test? Which binary is for what?

[2020-05-01 08:29] Makopo commented on #100
all of them was deprecated, closing.

[2020-05-01 08:29] #100 closed

[2020-05-01 08:32] Makopo commented on #99
Thank you for offering.
My new local environment can now successfully compile win 64 binaries :)

[2020-05-01 08:32] #99 closed

[2021-04-27 21:22] zontreck opened #101 "Request: Support for preprocessor includes"
Please add support for preprocessor includes. They may not be a core LSL feature but third party viewers have adopted this useful feature.

[2021-04-28 19:44] Sei-Lisa commented on #101
It doesn't make sense to add includes without adding everything else a preprocessor can do. And a preprocessor is out of scope for this project.

Instead, grab a preprocessor and use it together with lslint. This project already supports filtering the preprocessor output, and in my opinion that's exactly the extent that it should cover.

[2021-05-06 22:29] zontreck commented on #101
if you have a suggestion for a CLI Preprocessor, then my ears are open on that. But otherwise it would still be a good idea in my opinion to add the ability to parse preprocessor includes, and other preprocessor commands.

[2021-05-06 23:34] Sei-Lisa commented on #101
Check mcpp, http://mcpp.sourceforge.net/ . If you prefer Python, there's also PCPP, https://github.com/ned14/pcpp .

[2021-05-07 00:15] #101 closed

[2021-06-15 21:04] buildersbrewery commented on #101
@zontreck You want to use:

- an older `Build 3xxx` release of: <https://www.sublimetext.com/3>
- an older `version 3.x.x` release of: <https://github.com/SublimeLinter/SublimeLinter/>
- <https://github.com/XenHat/SublimeLinter-contrib-lslint/>

[2021-08-06 15:27] zaher opened #102 "Adding OSSL opensim functions"
Any change to add opensim functions, variables and consts?

http://opensimulator.org/wiki/Category:OSSL_Functions

[2022-04-05 17:11] GwynethLlewelyn commented on #102
I'm not an 'expert' using `lslint`, but it already provides a way to manually add extra functions/variables/constants/events for linting purposes.

When calling `lslint --help` there is an option:

  -b <file>       Load builtin functions from file

From the source code, you can see that there _is_ a supplied builtins file, named (you guessed it!) `builtins.txt`. In theory, if you (manually) add t

[2022-04-06 00:28] Sei-Lisa commented on #102
Yes, it should be possible to add an external builtins.txt file; if that isn't the case, please report it as a bug. lslint used to be up-to-date with current KWDB; now it seems to be lagging a bit behind, but note also that updates to LSL are very scarce nowadays, so it may be that it's not worth the trouble for the maintainers to perform an update.

However, regarding the OP's request, I have to

[2022-09-02 17:59] zaher commented on #102
Yes -b work fine with builtins.txt , All I need to remove first comment line, after I generate it the both sl/os by using kwdb (I used python3 that need to fix one line to work).

Thank you both

But I will keep this issue open

[2022-10-08 20:13] buildersbrewery opened #103 "update lslint with new data from kwdb"
Hi,

could you update lslint with new data from kwdb?

Thanks

[2022-11-02 08:38] buildersbrewery commented on #103
ping @Makopo

[2022-11-02 19:06] Sei-Lisa commented on #103
You can always use an external builtins.txt file with option `-b`. Grab the latest version from here: https://github.com/Sei-Lisa/kwdb/raw/master/outputs/builtins.txt

[2022-11-02 19:06] Sei-Lisa commented on #103
You can always use an external builtins.txt file with option `-b`. Grab the latest version from here: https://github.com/Sei-Lisa/kwdb/raw/master/outputs/builtins.txt

[2022-11-14 07:42] Sei-Lisa commented on #103
This will be solved in the next release. https://github.com/Makopo/lslint/pull/104

------- Original Message -------
On Friday, November 11th, 2022 at 7:13 PM, Gwyneth Llewelyn ***@***.***> wrote:

[2022-11-20 11:56] #103 closed